<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div class="header-container">
		<div class="left-header-container" style="display: inline-block;">
			<nav>
				<a href="/">Back to Home</a> | <a href="/add">Add a Ticket</a>
			</nav>
		</div>
		<div class="right-header-container" style="display: inline-block; float:right;">
			<form th:action="@{/logout}" method="post"
				style="display: inline-block;">
				<input type="submit" value="Sign Out" />
			</form>
		</div>
	</div>

	<br />
	<br />
	<table class="ticketsTbl">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Problem Title</th>
				<th>Problem Description</th>
				<th>Status</th>
				<th>Assigned To</th>
				<th>Date & Time</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="ticket : ${AllTickets}">
				<td><a th:href="@{/edit?(id=${ticket.id})}"
					th:text="${ticket.id}">ticketId</a></td>
				<td th:text="${ticket.empName}"></td>
				<td th:text="${ticket.probTitle}"></td>
				<td th:text="${ticket.probDisc}"></td>
				<td th:text="${ticket.status}"></td>
				<td th:text="${ticket.assigned_to}"></td>
				<td th:text="${ticket.ticketDateTime}">DateTime</td>
			</tr>
		</tbody>
	</table>
	<br />
	<br />

</body>
</html>