body, html{
	height: 100%;
	width: 100%;
	background-color: #555759;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.login-box{
	margin-top: 7%;
	margin-left: 40%;
	margin-right: 35%;
	border: 1px soild black;
	background-color: white;
	padding: 20px;
	width: 20%;
	height: 50%;
	display: inline-block;
}

.inputField{
	width: 80%;
	height: 20px;
}

#login-button{
	width: 80%;
	height: 25px;
}