<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
      
  <main>
    <div class="main-container" layout:fragment="content">
      <ul th:each="violation : ${Violations}">
        <li><p class="errorMsg" th:text="${violation.getPropertyPath()+' '+ violation.getMessage()}"></p></li>
      </ul>
	  <form th:action="@{/add}" method="POST" style="display: inline;">
	  <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
	    <table class="form-table">
	       <tbody>
	          <tr>
	            <td><label>Employee Name: </label></td>
	            <td><input type="text" name="empName"/></td>
	          </tr>
	          <tr>
	            <td><label>Problem Title: </label></td>
	            <td><input type="text" name="probTitle"/></td>
	          </tr>
	          <tr>
	            <td><label>Description: </label></td>
	            <td><textarea rows="5" cols="70" style="resize:none" name="probDisc"></textarea></td>
	          </tr>
	       </tbody>
	    </table>
	    <br /><br /><br />
	    <input type="submit" value="Submit Problem">
	  </form>
	  
	  <form action="/publicTicketSystem/display" method="GET" style="display: inline;">
	    <input type="submit" value="Go Back" />
	  </form>
	</div>  
  </main>
 
</html>