<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

	<main>
	  <div class="main-container" layout:fragment="content">
		<form th:action="@{/edit}" method="POST"
			style="display: inline;">
			<!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
			<input name="id" type="hidden" th:value="${ticket.id}" />
			<table class="form-table">
				<tbody>
					<tr>
						<td><label>Employee Name </label></td>
						<td><input type="text" th:value="${ticket.empName}" readonly /></td>
					</tr>
					<tr>
						<td><label>Problem Title </label></td>
						<td><input type="text" th:value="${ticket.probTitle}" readonly /></td>
					</tr>
					<tr>
						<td><label>Description </label></td>
						<td><textarea rows="5" cols="70" style="resize:none" th:text="${ticket.probDisc}" readonly></textarea></td>
					</tr>
					<tr>
						<td><label>Created on </label></td>
						<td><input type="text" th:value="${ticket.ticketDateTime}"
							readonly /></td>
					</tr>
					<tr>
						<td><label>Status </label></td>
						<td><select name="status">
								<option th:value="${ticket.status}" th:text="${ticket.status}"></option>
								<span th:if="${ticket.status} != 'New'"><option value="New">New</option></span>
								<span th:if="${ticket.status} != 'Resolved'"><option value="Resolved">Resolved</option></span>
								<span th:if="${ticket.status} != 'Active'"><option value="Active">Active</option></span>
						</select></td>
					</tr>
					<tr>
						<td><label>Assigned To</label></td>
						<td><input name="assignedTo" type="text"
							th:value="${ticket.assigned_to}" /></td>
					</tr>
				
					<tr>
					  <td><br /><label>Add note: </label></td>
					  <td><textarea rows="5" cols="70" style="resize:none" name="note"></textarea></td>
					</tr>
				</tbody>
			</table>
			<br /><br /><br /><br />
			<input type="submit" value="Update" />
		</form>
	
		<form action="/publicTicketSystem/display" method="GET"
			style="display: inline;">
			<input type="submit" value="Go Back" />
		</form>
	
	    <br /><br /><br /><br />
	    <p>Notes History: </p>
	    <div style="border: 1px solid black; border-radius: 10px; padding:15px;">
			<table class="form-table">
				<tbody>
					<tr th:each="note : ${notes}">
						<td>
						    <label th:text="${#dates.format(note.timestamp,'MM-dd-yyyy hh:mm a')}"></label><br /><br />
							<textarea rows="5" cols="70" style="resize:none" th:text="${note.note}" readonly></textarea>
						</td>
					</tr>
				</tbody>
			</table>
		</div>	
	  </div>	
	</main>
	
</html>